
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;;
}


body {
    background: linear-gradient(135deg, #1f1c2c, #928dab);
    font-family: "Inter", "Segoe UI", Arial, sans-serif;
    padding: 40px 10%;
    line-height: 1.7;
    color: #f0f0f0;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
main {
    width: 85%;
    max-width: 1100px;
    margin: 40px auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 40px;
    background: white;
    border-radius: 12px;
    border: 2px solid #d7dce3;
    position: sticky;
    top: 20px;
    z-index: 100;
    box-shadow: 0 4px 14px rgba(0,0,0,0.08);
}

.nav-brand {
    font-size: 1.8rem;
    font-weight: 700;
    color: #000205;
    text-decoration: none;
}

.nav-menu a {
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
    color: #110000;
    margin-left: 20px;
}

.navbar a:hover {
    text-decoration: underline;
}

.content {
    margin-top: 40px;
}

.title {
    text-align: center;
    font-size: 3rem;
    color: #ffffff;
    margin-bottom: 40px;
    font-weight: 800;
    margin-top: 50px;
}

.section-title {
    font-size: 2rem;
    color: #ffffff;
    margin: 50px 0 10px;
    padding-left: 12px;
    border-left: 2px solid #ffffff;
}

.text-block {
    margin: 20px 20px;
    line-height: 1.7;
    font-size: 1.25rem;
    text-align: justify;
}
.texts{
    margin: 0px;
    padding: 10px;
    border-radius: 15px;
}

.uplist {
    margin: 10px 0;
    padding: 5px 40px;
}

.uplist li {
    margin: 12px 0;
    line-height: 1.6;
    font-size: 1.25rem;

}
.list{
    text-align: justify;
}
.list li{
    font-size: 1.25rem;
    line-height: 1.6;
    margin-bottom: 15px;
}
.list strong{
    font-size: 1.25rem;
}

.image-display {
    display: block;
    width: 35%;
    margin: 30px auto;
    border-radius: 14px;
    box-shadow: 0 8px 22px rgba(0,0,0,0.15);
    transition: transform 0.3s ease;
}

.image-display:hover {
    transform: scale(1.03);
}

.source {
    text-align: center;
    font-style: italic;
    font-size: 0.95rem;
    color: #fffbfb;
    margin-bottom: 40px;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

@media (max-width: 900px) {
    body { padding: 30px 5%; }
    .image-display { width: 70%; }
    .title { font-size: 2.1rem; }
    .navbar { padding: 15px 25px; }
}

ul{
    padding-left: 40px;
}

.reflist {
    margin: 10px 0;
    padding: 10px 40px;
    border-radius: 12px;
}

.reflist li {
    margin: 10px 0;
    line-height: 1.6;
    font-size: 1.25rem;
    color: #f5f5f5;
}

footer {
    text-align: center;
    margin-top: 60px;
    padding-top: 20px;
    border-top: 1px solid #d7dce3;
    color: #6b7280;
    font-size: 14px;
}